body {
  background: #E8F9FD;
}

.text-end::placeholder {
  text-align: start;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#datos-tiro {
  visibility: hidden;
}